* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #2242c2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}